/* =================================
VARIABLES GLOBALES DE COLORES
   ================================= */

:root {
  --primary-purple: #c8b6ff;
  
  --primary-clear-color: #dbdbdb;

  --background-color: #f5f5f5;
}