/* =================================
VARIABLES GLOBALES DE COLORES
   ================================= */

:root {
  --primary-purple: #c8b6ff;
  
  --primary-clear-color: #e8f3ff;

  --background-color: #bbd0ff;
}